@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --cor-primaria: #13283E;
    --cor-secundaria: #026395;
    --cor-terciaria: #1B9AE0;
    --cor-fundo: #f3f8f8;
    --cor-fundo-branco: #FFFF;
    --cor-texto-claro: #9B99A4;
    --cor-texto-base: #747070;
    --cor-texto-base_escuro: #504d4d;
    --cor-texto-base_clara: #FFFF;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins';
  }

  /* Menu */

  .navbar {
    width: 100%;
    background-color: var(--cor-primaria);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--cor-texto-base_clara);
    padding: 0.2rem;
    cursor: pointer;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links a {
    font-size: 1rem;
    color: var(--cor-texto-base_clara);
    padding: 0.875rem 1rem;
    text-decoration: none;
  }

  .navbar-links a:hover {
    color: var(--cor-texto-claro);
  }

  .dropdown-user {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.875rem 0;
    cursor: pointer;
  }

  .dropdown-user i {
    font-size: 1.625rem;
    color: var(--cor-texto-base_clara);
    padding: 0 1rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--cor-texto-base_clara);
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    z-index: 1001;
  }

  .dropdown-content a {
    color: var(--cor-texto-base_escuro);
    padding: 0.625rem 1rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }

  .dropdown-content a:hover {
    color: #535252c9;
  }

  .dropdown-user:hover .dropdown-content {
    display: block;
  }

  .dropdown-user:hover .user-icon {
    color: #ffffffc9;
  }

  /* Texto e slide */

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 95px 5px 30px;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Adiciona responsividade */
  }

  .containertext {
    color: var(--cor-texto-base_escuro);
    flex: 1 1 300px;
    text-align: left;
    margin-right: 20px;
  }

  .containerimage {
    flex: 1 1 300px;
    display: flex;
    justify-content: flex-end;
  }

  .containerimage img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
  }

  /* Seção de Filtro */

  .search-section {
    background-color: var(--cor-fundo);
    text-align: center;
    padding: 1.875rem 1.25rem;
  }

  .search-section h3 {
    color: var(--cor-texto-base_escuro);
    font-size: 18px;
  }

  .search-section p {
    font-size: 0.95rem;
    color: #555;
    margin-top: 5px;
    margin-bottom: 16px;
  }

  .btn_filter {
    background-color: var(--cor-terciaria);
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 50px;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
  }

  .btn_filter:hover {
    background-color: #1b9be0da;
  }

  /* Cards de conteúdo */

  .cards {
    padding: 25px;
    background-color: var(--cor-fundo);
    width: 100%;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    margin: 30px auto 0;
    max-width: 1200px;
    width: 100%;
  }

  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: transform 0.3s ease;
  }

  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  .card h3 {
    font-size: 1.1rem;
    margin: 8px 0;
    color: #111;
  }

  .card p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 12px;
  }
  
  .btn,
  .btncard {
    background-color: var(--cor-secundaria);
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #115094de;
  }

  .btncard {
    background-color: var(--cor-terciaria);
    display: inline-block;
    margin: 0 auto;
  }

  .btncard:hover {
    background-color: #1b9be0da;
  }

   /* Rodapé */

   .footer {
    background-color: #0a2540;
    color: #ffffff;
    padding: 40px 20px 20px;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
  }
  
  .footer-logo h2 {
    margin: 0;
    font-size: 20px;
  }

  .footer-social img {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1); /* deixa os ícones brancos */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 12px;
  }
  

/* Responsividade */

@media (max-width: 768px) {
  .menu-toggle {
    margin: 1.2rem;
    padding: 0rem;
    display: block;
  }

  .navbar {
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor-primaria);
    position: absolute;
    top: 3.5rem;
    left: 0;
    align-items: flex-start;
  }

  .navbar-links.show {
    display: flex;
  }

  .dropdown-user {
    margin-left: auto;
    padding-right: 1rem;
  }
}

@media (max-width: 430px) {
  .menu-toggle {
    margin-top: 0.8rem;
    padding: 0rem;
    display: block;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px 30px;
  }

  .containertext {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .containerimage {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .btn,
  .btncard,
  .btn_filter {
    padding: 7px 25px;
    font-size: 11px;
  }

  .search-section h3 {
    font-size: 16px;
  }

  .search-section p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 40px 10px 20px;
  }

  .card img {
    height: 150px;
  }

  .card-content {
    align-items: center;
    text-align: center;
  }

  .btncard {
    padding: 7px 20px;
  }
}

