@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --cor-primaria: #13283E;
    --cor-secundaria: #026395;
    --cor-terciaria: #1B9AE0;
    --cor-fundo: #f3f8f8;
    --cor-texto-claro: #9B99A4;
    --cor-texto-base_escuro: #747070;
    --cor-texto-base_clara: #FFFF;
    --font-main: 'Poppins';
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    background-color: var(--cor-fundo);
    color: var(--cor-texto-base_escuro);
  }

  main {
    flex: 1;
  }

  /* Menu */

  .navbar {
    width: 100%;
    background-color: var(--cor-primaria);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--cor-texto-base_clara);
    padding: 0.2rem;
    cursor: pointer;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links a {
    font-size: 1rem;
    color: var(--cor-texto-base_clara);
    padding: 0.875rem 1rem;
    text-decoration: none;
  }

  .navbar-links a:hover {
    color: var(--cor-texto-claro);
  }

  .dropdown-user {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.875rem 0;
    cursor: pointer;
  }

  .dropdown-user i {
    font-size: 1.625rem;
    color: var(--cor-texto-base_clara);
    padding: 0 1rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--cor-texto-base_clara);
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    z-index: 1001;
  }

  .dropdown-content a {
    color: var(--cor-texto-base_escuro);
    padding: 0.625rem 1rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }

  .dropdown-content a:hover {
    color: #535252c9;
  }

  .dropdown-user:hover .dropdown-content {
    display: block;
  }

  .dropdown-user:hover .user-icon {
    color: #ffffffc9;
  }

  /* Conteúdo principal */
  
  .bg-ocean {
    background-color: var(--cor-primaria);
  }

  main {
    padding: 2rem 1rem;
    max-width: 50rem;
    margin: 40px auto;
  }

  h1 {
    color: var(--cor-texto-base_escuro);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .filtros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 40px;
  }

  .filtros input,
  .filtros select {
    padding: 0.5rem;
    border: 1px solid var(--cor-texto-base_escuro);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-family: var(--font-main);
  }

  .custom-input {
    padding: 0.5rem;
    border: 1px solid var(--cor-texto-base_escuro);
    border-radius: 1.25rem;
    font-size: 1rem;
    font-family: var(--font-main);
  }

  .botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
  }

  button {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: var(--font-main);
  }

  .btn-primario {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-base_clara);
  }

  .btn-secundario {
    background-color: var(--cor-texto-base_escuro);
    color: var(--cor-texto-base_clara);
  }

  .card-img-top {
    width: 1.25rem;
    height: 12.5rem;
  }

  .paginacao {
    text-align: center;
    margin-top: 2rem;
  }

  .paginacao button {
    background-color: transparent;
    border: none;
    margin: 0 0.25rem;
    color: var(--cor-terciaria);
    cursor: pointer;
    font-weight: 500;
  }

  .paginacao .ativo {
    font-weight: bold;
    text-decoration: underline;
  }

  /* Cards Filtros */

  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 50px auto 0;
    max-width: 1000px;
    padding: 0 1rem;
  }

  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
  }

  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  .card h3 {
    font-size: 1.1rem;
    margin: 8px 0;
    color: #111;
  }

  .card p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 12px;
  }

  .btn {
    background-color: var(--cor-secundaria);
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 6px 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
  }

  .btn:hover,
  .btn:active {
    background-color: #115094de;
    color: white;
  }

  /* Rodapé */

  .footer {
   background-color: var(--cor-primaria);
   color: var(--cor-texto-base_clara);
   padding: 2.5rem 1.25rem 1.25rem; 
   font-size: 0.875rem; 
  }

  .footer-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   max-width: 75rem; 
   margin: auto;
   gap: 1.25rem; 
  }

  .footer-logo h2 {
   margin: 0;
   font-size: 1.25rem; 
  }

  .footer-social img {
   width: 1.5625rem; 
   height: 1.5625rem;
   filter: brightness(0) invert(1);
  }

  .footer-bottom {
   text-align: center;
   margin-top: 1.25rem; 
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   padding-top: 0.625rem; 
   font-size: 0.75rem; 
  }
  .autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 .25rem .25rem;
  z-index: 1000;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.autocomplete-dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.autocomplete-dropdown li.active,
.autocomplete-dropdown li:hover {
  background-color: #007bff;
  color: white;
}
#loadingSpinner {
  display: none;
  margin: 20px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 /* Responsividade */

@media (max-width: 768px) {
  .menu-toggle {
    margin: 1.2rem;
    padding: 0rem;
    display: block;
  }

  .navbar {
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor-primaria);
    position: absolute;
    top: 3.5rem;
    left: 0;
    align-items: flex-start;
  }

  .navbar-links.show {
    display: flex;
  }

  .dropdown-user {
    margin-left: auto;
    padding-right: 1rem;
  }
}

@media (max-width: 430px) {
  .menu-toggle {
    margin-top: 0.8rem;
    padding: 0rem;
    display: block;
  }
}

@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
    margin: 40px auto;
  }

  h1 {
    font-size: 18px;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .botoes {
    flex-direction: column;
    align-items: center;
  }

  /* button {
    width: 100%;
    max-width: 300px;
  } */

  .filtros input,
  .filtros select {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .btn {
    font-size: 0.9rem;
    padding: 8px 20px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}

